<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @textbook.name %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @textbook.condition %>
</p>

<p>
  <strong>Edition:</strong>
  <%= @textbook.edition %>
</p>

<p>
  <strong>Author:</strong>
  <%= @textbook.author %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @textbook.user %>
</p>

<p> 
  <strong>Price:</strong>
  <%= @textbook.price %>
</p>

<%= form_tag(offer_path_url, method: :get) do %>
    <%= text_field_tag(:offer, params[:offer]) %>
    <%= submit_tag ("Offer") %>
<% end %>

<%= link_to 'Cancel Offer', textbooks_path %>
