<!DOCTYPE html>
<html>
  <head>
    <title>Bazaar</title>
    <style>
      ul {
  	margin: 0;
  	padding: 0;
  	overflow: hidden;
  	background-color: #333;
	}

     li {
	float: left;
     	}

     li a {
  	display: block;
  	color: white;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
     }

    li a:hover {
  	background-color: #111;
    }
  </style>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style = "background-image: linear-gradient(to left, DarkBlue, LightGray)">
  <h1 style = "text-align:center; background-color: gray"> Textbook Bazaar </h1>
  <ul>
    <li><%= link_to "Home", welcome_path_url%>> </li>
    <li><%= link_to "Browse Textbooks", browse_path_url%>></li>
    <li><%= link_to ">Sell a Textbook", sell_path_url%></li>
    <li><a href="https://github.com/EStaiman/TCNJ-Bazaar/wiki">About</a></li>
    <li><%= link_to "Contact", contact_path_url%></li>
    <% if current_user%>
    <li><%= link_to "Profile", profile_path_url %> </li>
    <li><%= link_to "Logout", logout_path%></li>
    <% end %>
  </ul>
  <%= yield %>
  </body>
</html>
