<!DOCTYPE html>
<html>
  <head>
    <title>Bazaar</title>
    <style>
      ul {
  	margin: 0;
  	padding: 0;
  	overflow: hidden;
  	background-color: #333;
	}

     li {
	float: left;
     	}

     li a {
  	display: block;
  	color: white;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
     }

    li a:hover {
  	background-color: #111;
    }
  </style>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style = "background-image: linear-gradient(to left, DarkBlue, LightGray)">
  <h1 style = "text-align:center; background-color: gray"> Textbook Bazaar </h1>
  <ul>
    <li><a href="http://csc415-server21.hpc.tcnj.edu:3000">Home</a></li>
    <li><a href="http://csc415-server21.hpc.tcnj.edu:3000/browse/index">Browse Textbooks</a></li>
    <li><a href="http://csc415-server21.hpc.tcnj.edu:3000/sell/index">Sell a Textbook</a></li>
    <li><a href="https://github.com/EStaiman/TCNJ-Bazaar/wiki">About</a></li>
    <li><a href="http://csc415-server21.hpc.tcnj.edu:3000/contact/index"> Contact </a></li>
  </ul>
  <%= yield %>
  </body>
</html>
